//- MAKE NAVIGATION
mixin makeList(navItem)
  ul#js-navbarList.nav__list
    - listItems = Array.prototype.slice.call(arguments);
    for item in listItems
      if title.toLowerCase() == item.name.toLowerCase()
        - active = 'active'
      else
        - active = ''
        
      li.nav__item
        a(class='js-scroller nav__link ' + active, href=item.link)= item.name.toUpperCase()

//- MAKE INPUT || TEXTAREA
mixin input(classes, type, name, placeholder, multiple, attr)
  if type == 'textarea'
    textarea(class=classes, name=name, placeholder=placeholder)&attributes(attr)
  else
    if multiple
      input(id=name, class=classes, type=type, name=name, placeholder=placeholder, multiple)&attributes(attr)
    else
      input(id=name, class=classes, type=type, name=name, placeholder=placeholder)&attributes(attr)    

//- MAKE SELECT (options -> object)
mixin select(type, name, placeholder, options, classes, attr)
    //- data-selecttype -> default, search, sort
    select(data-selecttype=type, id=name, name=name, placeholder=placeholder, class=classes)&attributes(attr)
      for option, key in options   
        option(value=key)= option

//- MAKE TABLE ROW
mixin row(rowClass, rowAttributes, ...cells)
  tr(class=rowClass)&attributes(rowAttributes)
    for cellList in cells
      for cell in cellList
        td(class=cell.classes)&attributes(cell.attributes)!= cell.content

//- CREATE TAB GROUP BUTTONS
mixin tabGrp(wrapperClass, btnClass, buttons, spaced, radio)
  div(class='js-tabSwitch tabGrp grid  ' + wrapperClass)
    for btn in buttons
      if spaced
        .col
          a(class='js-switch tabGrp__btn btn ' + btnClass + ' ' + btn.specialClass, href=btn.link)!= btn.text
          
      else
        
        if radio
          label(class='js-switch tabGrp__btn btn ' + btnClass + ' ' + btn.specialClass, for=btn.link)!= btn.text
          
          if btn.specialClass 
            input(type='radio', value='#', id=btn.link, checked)
          
          else
            
            input(type='radio', value='#', id=btn.link)
              
        else
          
          a(class='js-switch tabGrp__btn btn ' + btnClass + ' ' + btn.specialClass, href=btn.link)!= btn.text
